= simple_form_for(@user) do |f|
  = f.input :first_name

  = f.input :last_name
  = f.input :whats_up
  = f.input :about, as: :text
  = f.input :avatar, as: :file
  = f.association :games, collection: Game.all, as: :check_boxes
  = f.association :friends, collection: User.excluding(current_user.id), as: :check_boxes, label_method: :full_name

  -# = select_tag '', options_for_select(Game.all.pluck(:name, :id))
  -# %button( data-game=true ) +

  = f.button :submit
