%section.users-show-layout

  %header
    %aside.profile-pic
      = image_tag @user.avatar
    .row.main-title
      %h1.header= @user.full_name
      %section.status-container
        %p.status= @user.whats_up
        - if current_user == @user
          %form#user_form
            %input(placeholder="#{@user.whats_up}" for="user.whats_up")
          = link_to "What's up?", "#", data: { edit: 'whats-up'}
  %section.content
    %textarea= @user.about
    %h4 Games I play!
    - @user.games.each do |game|
      %p= game
    %h4 All my friends
    - @user.friends.limit(6).each do |friend|
      %p= friend.full_name

  %footer
    - if current_user == @user
      = link_to "EDIT", edit_user_path(@user.id)
