%section.users-show-layout

  %header
    %aside.profile-pic
      = image_tag @user.avatar
      - if current_user == @user
        = link_to "Edit your profile", edit_user_path(@user.id), class: "edit_it"
    .row.main-title
      %h1.header= @user.full_name.presence || t("user_show.no_name")

      %section.status-container
        %p.status= @user.whats_up
        - if current_user == @user
          %form#user_form
            %input(placeholder="#{@user.whats_up}" for="user.whats_up")
          = link_to "What's up?", "#", data: { edit: 'whats-up'}

      %section.content
        %p.about= @user.about || t("user_show.no_about")

    %section.user-games
      %h4.title= t("user_show.games_title")
      - @user.games.each do |game|
        %p.game= game

  %section.content
    %h4= t("user_show.groups_header")
    %ul.group-list
      - @user.groups.each do |group|
        = link_to group_path(group) do
          %li.group-layout
            %p.group= group.title
