<!DOCTYPE html>
<html>
<head>
  <title>TeachMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="backin">
    <div class="smashin"></div>
    <div class="smashin-overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="front-title">HEY NEIGHBOR<p class="lead">Settle it in Smash Locator</p></h1>
        </div>
      </div>
    </div>
  </header>


  <!-- Begin Navbar -->
  <div id="nav">
    <div class="navbar navbar-inverse navbar-static">
      <div class="container">
        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="glyphicon glyphicon-bar"></span>
          <span class="glyphicon glyphicon-bar"></span>
          <span class="glyphicon glyphicon-bar"></span>
        </a>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Smash Locator</a></li>
            <li class="divider"></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          </ul>
          <ul class="nav pull-right navbar-nav">
            <li>
              <form class="navbar-form">
            <input type="text" class="form-control" placeholder="Search">
            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
          </form>
            </li>
            <li>
              <a href="#"><i class="glyphicon glyphicon-flag"></i> <span class="badge">2</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div><!-- /.navbar -->
  </div>





  <div class="container">
    <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
    <%= yield %>
  </div>

    <div class="container">
      <footer>
        <div class="row">
          <div class="col-md-6">
            <a href="about">About</a>
            |
            <a href="terms">Terms</a>
            |
            <a href="faq">FAQ</a>
            |
            <a href="tasks">Tasks</a>
          </div>
          <div class="col-md-6 text-right">
            <a href="https://www.linkedin.com/in/jordanicollier">
              <%= image_tag"linked.jpg", class: "img-footer" %>
            </a>
            <a href="https://github.com/JordanCollier">
              <%= image_tag"github.png", class: "img-footer" %>
            </a>
            <a href="https://twitter.com/JordanICollier">
              <%= image_tag"twitter.png", class: "img-footer" %>
            </a>
            <a href="https://students.gschool.it/students/206">
              <%= image_tag "galvanize.png", class: "img-footer" %>
            </a>
          </div>
        </div>
      </footer>
      <!-- footer stuff here -->
    </div>

</body>
</html>
